<<<<<<< HEAD
div{
    color: green;
    background-color: grey;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 40%;
=======
div{
    color: green;
    background-color: grey;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 40%;
>>>>>>> 97f65a7efeb553f4864c7329d35aff187199c881
}