<<<<<<< HEAD
p{
    font-size: 20px;
    text-align: center;
    color: goldenrod;
=======
p{
    font-size: 20px;
    text-align: center;
    color: goldenrod;
>>>>>>> 97f65a7efeb553f4864c7329d35aff187199c881
}